.threads
  - @threads.each do |thread|
    .thread
      .thread--meta
        %span.ss-icon
          comment
        = thread[:posts_count]
        - if false
          %span.ss-icon
            view
          = thread[:view_count]
      .thread--title
        %a{:href=>thread[:url]}
          = thread[:title]
      - unless thread[:attachments].blank?
        .thread--image
          %img{:src=>thread[:attachments].first[:url]}
      