!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    <link href='http://fonts.googleapis.com/css?family=Signika:400,700,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag asset_path("assets/application.css")

    %title East Dulwich Forum
  %body
    #main
      #brand
        %h1
          %a{:href=>"/"} East Dulwich (Mobile) Forum

      = yield

      %footer
        %p 
          This is an unofficial experiment at providing a mobile-friendly view of the popular East Dulwich Forum. This is not intended as a criticism of that site - I just can't read it on my phone! Hacked together very quickly by 
          %a{:href=>"http://twitter.com/stef"} @stef