%form{:action=>"/login", :method=>"post"}
  %label{:for=>"username"} Your username
  %input{:name=>"username", :type=>"text"}
  %label{:for=>"password"} Your password
  %input{:name=>"password", :type=>"password"}
  %input{:type=>"submit"} Sign in